name: Build Fabric Mod

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build mod
        run: gradle build

      - name: Upload mod jar
        uses: actions/upload-artifact@v4
        with:
          name: superpowers-jar
          path: build/libs/*.jar
